<section class="block">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque magnam
    debitis praesentium quo dolores aperiam, ab quis dolorem veniam ad!
  </p>
</section>
<section class="block block--dark block--skewed-right">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque magnam
    debitis praesentium quo dolores aperiam, ab quis dolorem veniam ad!
  </p>
  
</section>